.wrapper_header
  %header.header
    = render "plans/header_header"
.sticky
  = render "plans/sticky"
.d-none.d-lg-block
  .d-flex.justify-content-center.align-items-center.w-100.progress_header
    .d-flex.justify-content-start.progress_arrow
      .done 1. コース選択
      .arrow_right_done
      .done 2. お届け先の指定
      .arrow_right_done
      .done 3. 申し込み内容・お届け先の確認
      .arrow_right_done
      .done 4. お支払い
      .arrow_right_done
      .wip 5. 完了
      .arrow_right_wip
.purchase_title.d-none.d-lg-block
  .title.mx-auto.text-nowrap 完了
.purchase_guide_message.d-none.d-lg-block
  .title.mx-auto.text-center
    申し込みが完了いたしました。
