.divider-or {
    position: relative;
    top: 2px;
    line-height: 0;
    width: 80%;
    padding-top: 1px;
    margin: 14px auto;
    text-align: center;
}

.divider-or p {
    position: relative;
    display: inline-block;
    line-height: 1;
    padding: 0 8px 0 7px;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: #d9d3c8;
    background-color: #fff;
    z-index: 2;
}

.divider-or:after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    height: 1px;
    width: 100%;
    margin-top: -1px;
    background-color: transparent;
    border-top: 1px solid #d9d3c8;
    z-index: 1;
}
