.divider-or {
    position: relative;
    top: 2px;
    line-height: 0;
    width: 80%;
    padding-top: 1px;
    margin: 14px auto;
    text-align: center;
}

.divider-or p {
    position: relative;
    display: inline-block;
    line-height: 1;
    padding: 0 8px 0 7px;
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: #d9d3c8;
    background-color: #fff;
    z-index: 2;
}

.divider-or:after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    height: 1px;
    width: 100%;
    margin-top: -1px;
    background-color: transparent;
    border-top: 1px solid #d9d3c8;
    z-index: 1;
}


.dropdown-menu.show {
    display: block;
}

div.authenticated_header_menu div.dropdown-menu {
    padding: 0;
}

.dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=top] {
    right: auto;
    bottom: auto;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.authenticated_header_menu div.dropdown-menu a.dropdown-item {
    font-size: 14px;
    line-height: 41px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529 !important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.authenticated_header_menu hr {
    margin: 0;
}
