.bg-white.navi-box
  %h2{:title => "OWNERS"}
    %a{:href => "/"}
      %i.sprite-2x.logo-b
  %ul.h-navi
    %li
      %a{:href => "/about"}
        %i.sprite-2x.icon-q-b>
        OWNERSについて
    %li
      %a{:href => "/howto"}
        %i.sprite-2x.icon-book-b>
        使い方
    -if logged_in?
      %li
        .dropdown.authenticated_header_menu
          %button#dropdownMenuButton.dropdown-toggle.dark{"aria-expanded": "false", "aria-haspopup": "true", "data-toggle": "dropdown", type: "button"}
            %img{src: "", alt: "PHOTO"}
            User Name
          .dropdown-menu{"aria-labelledby": "dropdownMenuButton", style: "position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 50px, 0px);", "x-placement": "bottom-start"}
            %a.dropdown-item{href: ""} マイページ
            %hr
            = link_to "ログアウト", destroy_owner_session_path, method: :delete, class: "dropdown-item"
    -else
      %li
        %a.ajax{:href => "/owners/sign_up"}
          %i.sprite-2x.icon-plus-b>
          会員登録
      %li
        %a.ajax{:href => "/owners/sign_in"}
          %i.sprite-2x.icon-login-b>
          ログイン
