.bg-white.navi-box
  %h2{:title => "OWNERS"}
    %a{:href => "/"}
      %i.sprite-2x.logo-b
  %ul.h-navi
    %li
      %a{:href => "/about"}
        %i.sprite-2x.icon-q-b>
        OWNERSについて
    %li
      %a{:href => "/howto"}
        %i.sprite-2x.icon-book-b>
        使い方
    %li
      %a.ajax{:href => "/owners/sign_up"}
        %i.sprite-2x.icon-plus-b>
        会員登録
    %li
      %a.ajax{:href => "/owners/sign_in"}
        %i.sprite-2x.icon-login-b>
        ログイン
